/* estilos globales */
h1,h2,h3,h4,h5,h6,span{
    font-family: 'Zen Dots', cursive,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-family: 'Roboto Slab', serif;
}

section{
    margin: 10px 0;
}

/* Estilos de navegado*/
.baner{
    background-image: url("../img/fondo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
}
.logo{
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}
.logo_game{
    color: white;
    font-size: 1.2rem;
}

.nav-link{
    color: white;
    font-size: 1rem;
}

.nav-link:hover{
    color: green;
}
/* estilos baner */
.img1{
    width: 20%;
    margin-right: 2rem;
}
.titulo{
    display: flex;
    justify-content: center;
    padding-top: 250px;
    color: rgb(251, 244, 244);
}

.titulo_estilos{
    font-size:6rem;
    -webkit-text-stroke: 1px black;
}
#simbolo{
    font-size: 2rem;
}
/* Estilos del cuerpo de la pagina */

.contenedor{
    height: 300px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: justify;
    
}


/* carrucel */

.seccion_videojuegos{
    border: 2px green dashed;
}
.contenedor_carrucel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrucel{

width: 50%;
}
#imagen_carrucel{
    height: 300px;
}
#estrellas{
    color: rgb(41, 154, 225);
    font-size: 25px;
    text-align: center;
}
#estrellas span{
    color: black;
}

/* galeria */

/* resposivo */

@media screen and (max-width: 768px) {

    .baner{
        height: 300px;
    }
    .titulo{
        padding-top: 30px;
    }
    .titulo_estilos{
        font-size: 2rem;
    }
    .img1{
        width: 10%;
        margin-right: 1rem;
    }
    .d-flex{
       justify-content: center;
    }
    .contenedor{
        height: 500px;
    }
    
    .buscar{
        display: none;
    }
    .buscarbtn{
        display: none;
    }
    .navbar-brand{
        display: none;
    }
    #simbolo{
        font-size: 1rem;
    }
    .subtitulo{
        font-size: 15px;
      text-align: center;
    }
    .carrucel{

        width: 80%;
        }

    
}